@charset "UTF-8";

/*todas as unidades 
    pequena telas: até 600px;
    celular: de 600px até 768px;
    tablet: 768px até 992px;
    desktop: 992px até 1200px;
    grandes: acima de 1200px;

*/

@media print {
    body{
        background: #000 url(../img/back-print.jpg) no-repeat;
        font-family: 'Courier New', Courier, monospace;
    }

    main > h1 {
        text-shadow: none;
        color: #000;
        border: 2px solid #000;
    }

    img#phone{display: none;}
    img#tablet { display: none;}
    img#print {display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}


@media screen and (min-width: 768px) and (max-width: 992px){  /*tablet*/
    body{
        background: #000 url(../img/back-tablet.jpg) no-repeat;
    }

    img#phone{display: none;}
    img#tablet { display: block;}
    img#print {display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}


@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body{
        background: #000 url(../img/back-pc.jpg) no-repeat;
    }
    img#phone{display: none;}
    img#tablet { display: none;}
    img#print {display: none;}
    img#pc{display: block;}
    img#tv{display: none;}

}


@media screen and (min-width: 1200px){ /*telas grandes*/
    body{
        background: #000 url(../img/back-tv.jpg) no-repeat;
    }

    main{
        width: 700px;
    }

    img#phone{display: none;}
    img#tablet { display: none;}
    img#print {display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

}